/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body{
    background-color: black;
}

.navbar{
    height: 70px;
}

.navbar a{
    padding-left: 20px;
    font-weight: 600;
}